<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test sismojs</title>
  </head>
  <body>
    <pre id="console"></pre>
    <script type="module">
import sismojs from './src/index.js'
window.sismojs = sismojs

const consoleEl = document.getElementById('console')

async function test () {
  const client = new sismojs.fdsn.Client('.')
  let st = await client.getWaveformsBulk([
    ['FR', 'ISO', '00', 'HH?', '2019-12-20T00:00:00', '2019-12-20T00:10:00']
  ], percent => {
    consoleEl.innerText = `${Math.floor(percent)} %`
  })
  console.log(st)
  consoleEl.innerText = ''
  for (let tr of st.traces) {
    consoleEl.innerText += `${JSON.stringify(tr.stats, null, 2)}\n`
  }
}
test()
    </script>
  </body>
</html>
